.header{
   position: sticky;
   top: -39px;
   z-index: 10000;

&__bottom {
   display: flex;
   justify-content: space-between;
   padding: 7px 60px;
   height: 71px;
   align-items: center;
   background-color: $grayscale-color-01;
}
&__logo-wrapper {
   width: 155px;
   height: 49px;
}
&__logo{
   width: 100%;
}
&__top {
   display: flex;
   align-items: center;
   text-align: center;
   height: 38px;
   padding: 0px 60px;
   background-color: $secondary-color-02;
}
}
.top__menu_list {
   display: flex;
}
.top__menu_item {
   padding: 9px 40px;
}
.top__menu_item.active {
   background-color: $grayscale-color-01;
   border-radius: 20px 20px 0px 0px;
   color: $grayscale-color-07
}
.top__menu_link {
   font-weight: 500;
   text-decoration: none;
   color: $grayscale-color-00;
   font-size: 16px;
   cursor: pointer;
}
.top__menu_item.active .top__menu_link{
   color: $grayscale-color-07
}
.header__aside{
   display: none;
}

@media (max-width:768px) {
   .header__button{
      display: none;
   }
   .header{
      &__logo-wrapper {
         width: 124px;
         height: 39px;
      }
      &__logo{
         width: 100%;
      }
      &__bottom{
         padding: 7px 16px;
      }
      &__top{
         padding: 0;
      }
      &__aside{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         width: 24px;
         height: 20px;
         cursor:pointer;
      }
      &__span-1{
         display: inline-block;
         width: 100%;
         height: 2px;
         background: $grayscale-color-07;
         border-radius: 8px;
      }
      &__span-2{
         display: inline-block;
         width: 100%;
         height: 2px;
         background: $grayscale-color-07;
         border-radius: 8px;
      }
      &__span-3{
         display: inline-block;
         width: 100%;
         height: 2px;
         background: $grayscale-color-07;
         border-radius: 8px;
      }
   }
}
@media (max-width:376px) {
   
}