$font-stack:    'Outfit', sans-serif;

/*Grayscale*/
$grayscale-color-00: rgb(0, 0, 0);
$grayscale-color-01: rgb(24, 24, 24);
$grayscale-color-02: rgb(68, 68, 68);
$grayscale-color-03: rgb(185, 185, 185);
$grayscale-color-04: rgb(207, 207, 207);
$grayscale-color-05: rgb(228, 228, 228);
$grayscale-color-06: rgb(245, 245, 245);
$grayscale-color-07: rgb(255, 255, 255);
/*Primary*/
$primary-color-00:rgb(123, 49, 212);
$primary-color-01:rgb(149, 76, 237);
$primary-color-02:rgb(166, 76, 237);
$primary-color-03:rgb(186, 139, 243);
$primary-color-04:rgba(149, 76, 237, 0.2);
/*secondary*/
$secondary-color-01:rgb(47, 219, 188);
$secondary-color-02:rgb(255, 170, 76);
$secondary-color-03:rgb(193, 219, 47);
/*Additional*/
$additional-color-01:rgb(255, 108, 45);
$additional-color-02:rgb(236, 18, 17);