.cookie {
   position: fixed;
   display: flex;
   left: 90px;
   right: 65px;
   bottom: 30px;
   background-color: $grayscale-color-07;
   box-shadow: -10px -5px 30px rgba(141, 141, 141, 0.1);
   border-radius: 16px;
   padding: 30px 60px 30px 30px;
   justify-content: space-between;
   animation: showBlock 2s linear;
}
.cookie__text {
   width: 783px;
   font-weight: 300;
   font-size: 20px;
   line-height: 140%;
   color: $grayscale-color-02;

}
.cookie__buttons {
   display: flex;
}
.cookie__button_assept {
   display: flex;
   padding: 16px 30px;
   align-items: center;
   height: 57px;
   border-radius: 16px;
   border:none;
   font-weight: 600;
   font-size: 20px;
   color: $grayscale-color-07;
   background-color: $primary-color-01;
   cursor: pointer;    
       transition: background 200ms ease-in-out, transform 200ms ease-in-out;
       background: {
         image: linear-gradient(45deg,$grayscale-color-01 50%, transparent 50%);
         position: 100%;
         size: 400%;
       }
       &:hover:not(:disabled) {
         background-position: 0;
         border:2px solid $primary-color-01;
         transform: scale(1.05);
         text-align: center;
       } 
       &:focus{
         border: 4px solid $primary-color-03;
         padding: 16px 30px;
         outline: none;
       }
       &:disabled,
       &[disabled]{
        background-color: $grayscale-color-03;
        cursor: default;
         } 
       &.pressed{
         background-color: $primary-color-00;
       } 
   margin-right: 20px;
   &:hover{
      border:none !important;
   }
}
.cookie__button_cansel {
   display: flex;
   padding: 16px 30px;
   align-items: center;
   height: 57px;
   border-radius: 16px;
   border:none;
   font-weight: 600;
   font-size: 20px;
   color: $grayscale-color-07;
   background-color: $primary-color-01;
   cursor: pointer;    
       transition: background 200ms ease-in-out, transform 200ms ease-in-out;
       background: {
         image: linear-gradient(45deg,$grayscale-color-01 50%, transparent 50%);
         position: 100%;
         size: 400%;
       }
       &:hover:not(:disabled) {
         background-position: 0;
         border:2px solid $primary-color-01;
         transform: scale(1.05);
         text-align: center;
       } 
       &:focus{
         border: 4px solid $primary-color-03;
         padding: 16px 30px;
         outline: none;
       }
       &:disabled,
       &[disabled]{
        background-color: $grayscale-color-03;
        cursor: default;
         } 
       &.pressed{
         background-color: $primary-color-00;
       } 
   color: $grayscale-color-00 !important;
   background-color: $grayscale-color-07;
   border: 2px solid $primary-color-01;
   background: {
      image: linear-gradient(45deg,$grayscale-color-07 50%, transparent 50%);
      position: 100%;
      size: 400%;
    }
   &:hover{
      background: none !important;
   }
}
.close{
   position: absolute;
   top: 16px;
   right: 16px;

   cursor: pointer;
}

@keyframes showBlock {
  0% {
    opacity: 0;
    bottom: -300px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
.cookie.hide{
   display: none;
}