<section class="about">
   <div class="container">
      <h2 class="about__title">About Budss</h2>
      <div class="about__content">
         <p class="about__left">Payment as a service, powered seamlessly by our network of shoppers</p>
         <div class="about__items">
            <div class="about__item item_1">
               <div class="img_wrapper">
                  <img src="../images/star.svg" alt="star" >
                  <h4 class="item__title">Contactless</h4>
                  <p class="item__text">Budss uses near field communication (NFC) for making contactless payments.</p>
               </div>
            </div>
            <div class="about__item item_2">
               <div class="img_wrapper">
                  <img src="../images/arrow.svg" alt="arrow" >
                  <h4 class="item__title">Increased Buying Power</h4>
                  <p class="item__text">Returning customers spend up to 3X more.</p>
               </div>
            </div>
            <div class="about__item item_3">
               <div class="img_wrapper">
                  <img src="../images/stairs.svg" alt="stairs" >
                  <h4 class="item__title">Analytics<br>& Insights</h4>
                  <p class="item__text">Gain a holistic view into your customers’ buying behavior & purchasing patterns.</p>
               </div>
            </div>
            <div class="about__item item_4">
               <div class="img_wrapper">
                  <img src="../images/chain.svg" alt="chain" >
                  <h4 class="item__title">Fraud Protection</h4>
                  <p class="item__text">Budss handles all payments with a fraud prevention algorithm to flag high risk purchases & a user set PIN code to keep payment info secure. </p>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="about__img_wrapper">
      <img class="about__img" src="../images/about.svg" alt="about" >
   </div>
</section>