<div class="cookie">
   <p class="cookie__text">This website uses cookies to ensure you get the best experience on our website. They also allow us to analyze user behavior in order to constantly improve the website for you.</p>
   <div class="cookie__buttons">
      <button class="cookie__button_assept cookie__button">Accept</button>
      <button class="cookie__button_cansel cookie__button" >Decline</button>
   </div>
   <img src="../images/cookie-close.svg" alt="close"
   class="close cookie__button" />
</div>