<footer class="footer">
   <div class="footer__content">
      <div class="footer-wrapper">
         <img class="footer__logo"
         src="../images/buds-logo.svg" alt="logo" />
      </div>
      <div class="footer__pages">
         <a class="footer__pages__link" href="#">For Business</a>
         <a class="footer__pages__link" href="#">For Customers</a>
      </div>
      <div class="footer__buttons">
         <button class="footer__button button_primary--dark">Contact sales</button>
         <a class="footer__button__link" href="#">
            <img class="footer__button__img" src="../images/appstore.svg" alt="app-store" />
         </a>
         <a class="footer__button__link" href="#">
            <img class="footer__button__img" src="../images/googleplay.svg" alt="google-play" />
         </a>
      </div>
   </div>
   <div class="footer__privacy">
      <p class="privacy__text">© Copyright 2023, All Rights Reserved by Budss</p>
      <div class="privacy__links">
         <a href="#" class="privacy__link">Privacy Policy</a>
         <a href="#" class="privacy__link">Terms Of Use - Seller</a>
         <a href="#" class="privacy__link">Terms of Use - Sellers & Customers</a>
      </div>
   </div>
</footer>