<section class="grow">
  <h3 class="grow__title">Let  Your Business Grow</h3> 
  <button class="grow__button button_primary--dark">Contact sales</button>
  <div class="grow__main">
   <div class="grow__text">
      <h4 class="grow__text_title">Your Brand Awareness Maters</h4>
      <p class="grow__text_subtitle">Budss is a husle free solution to put your brand on any digital surface including Instagram, Facebook, Twitter and TikTok</p>
   </div>
   <div class="grow__social">
      <div class="social__facebook">
         <img class="social__img" src="../images/Facebook.svg" alt="facebook">
      </div>
      <div class="social__twiter">
         <img class="social__img" src="../images/twiter.svg" alt="twiter">
      </div>
      <div class="social__inst">
         <img class="social__img" src="../images/inst.svg" alt="inst">
      </div>
      <div class="social__tic">
         <img class="social__img" src="../images/tic-tok.svg" alt="tic">
      </div>
   </div>
  </div>
  <div class="grow__sponsors">
   <div class="sponsors__wrapper">
      <img class="sposors__img" src="../images/sponsor-1.svg" alt="sponsor-1">
   </div>
   <div class="sponsors__wrapper">
      <img class="sposors__img" src="../images/sponsor-2.svg" alt="sponsor-2">
   </div>
   <div class="sponsors__wrapper">
      <img class="sposors__img" src="../images/sponsor-3.svg" alt="sponsor-3">
   </div>
   <div class="sponsors__wrapper">
      <img class="sposors__img" src="../images/sponsor-4.svg" alt="sponsor-4">
   </div>
   <div class="sponsors__wrapper">
      <img class="sposors__img" src="../images/sponsor-5.svg" alt="sponsor-5">
   </div>
  </div>
</section>