<header class="header">
   <div class="header__top">
      <nav class="top__menu">
         <ul class="top__menu_list">
            <li class="top__menu_item active">
               <a href="#" class="top__menu_link">For Business</a>
            </li>
            <li class="top__menu_item">
               <a href="#" class="top__menu_link">For Customers</a>
            </li>
         </ul>
      </nav>
   </div>
      <div class="header__bottom">
   <div class="header__logo-wrapper">
      <img class="header__logo"
      src="../images/buds-logo.svg" alt="logo" />
   </div>
   <button class="header__button button_primary--dark">
      Contact sales
   </button>
</div>
</header>