<aside class="aside">
   <div class="aside__close">
      <span class="aside__close__span-1"></span>
      <span class="aside__close__span-2"></span>
   </div>
   <button class="aside__button button_primary--dark">Contact sales</button>
   <nav class="aside__navigate">
      <ul class="aside__navigate__list">
         <li class="aside__navigate__item">
            <a href="#" class="aside__navigate__link">For Business</a>
         </li>
         <li class="aside__navigate__item">
            <a href="#" class="aside__navigate__link">For Customers</a>
         </li>
         <li class="aside__navigate__item">
            <a href="#" class="aside__navigate__link">Privacy Policy</a>
         </li>
         <li class="aside__navigate__item">
            <a href="#" class="aside__navigate__link">Terms Of Use - Seller</a>
         </li>
         <li class="aside__navigate__item">
            <a href="#" class="aside__navigate__link">Terms of Use - Sellers & Customers</a>
         </li>
      </ul>
   </nav>
</aside>