<section class="phone">
   <marquee scrolldelay='60' class="phone__right_1">
      <span class="phone__text_black">How Budss Works</span>
      <span class="phone__text_green">How Budss Works</span>
      <span class="phone__text_black">How Budss Works</span>
   </marquee>
   <marquee scrolldelay='60' direction ='right' class="phone__left_1">
      <span class="phone__text_black">How Budss Works</span>
      <span class="phone__text_purple">How Budss Works</span>
      <span class="phone__text_black">How Budss Works</span>
   </marquee>
   <marquee scrolldelay='60' class="phone__right_2">
      <span class="phone__text_black">How Budss Works</span>
      <span class="phone__text_orange">How Budss Works</span>
      <span class="phone__text_black">How Budss Works</span>
   </marquee>
   <div class="phone__wrapper">
      <img src="../images/phone.webp" alt="phone"
      class="phone__image" />
   </div>
</section>