<section class="why-budds">
   <h2 class="why-budds__title">Why Budss</h2>
   <p class="why-budds__subtitle">We Provide Advanced Payment Solutions<br> To Grow Your Business</p>
   <div class="why-budds__container">
      <div class="why-budds__item_1">
         <div class="text__wripper_1">
            <h4 class="why-budds__item__title">Turn your customers into loyal influencers</h4>
            <p class="why-budds__item__text">Budss helps businesses harness the exponential power of loyal customers for acquisition and retention.</p>
         </div>
      </div>
      <div class="why-budds__item_2">
         <div class="text__wripper_2">
            <h4 class="why-budds__item__title">Harness the power of buying in bulk</h4>
            <p class="why-budds__item__text">Get at least 2X more sales with Budss Buying Groups. Your customer base will grow exponentially as your customers add their friends & family to your personalized group.</p>
         </div>
      </div>
      <div class="why-budds__item_3">
         <div class="text__wripper_3">
            <h4 class="why-budds__item__title">Supercharge Loyalty With Instant Cash Back</h4>
            <p class="why-budds__item__text">Budss allows for shoppers to earn immediate cash back at their favorite stores.</p>
         </div>
      </div>
      <div class="why-budds__item_4">
         <div class="text__wripper_4">
            <h4 class="why-budds__item__title">Seasoned with AI and Gamification</h4>
            <p class="why-budds__item__text">AI programming creates a personalized customer journey, offering recommendations for their next purchase and optimizing rewards for after purchase.</p>
         </div>
      </div>
   </div>
</section>